*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 60%;
    height: 80%;
    border: thin solid black;
    position: relative;
    background-color: #7CB9E8;
    overflow: hidden;
}

.game .clouds{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25rem;
    position: absolute;
    animation-name: cloudMoving;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-fill-mode: forwards;
    animation-timing-function:linear;
    z-index:1;
}

.game .clouds img{
    width: 10rem;
    height: 10rem;
}

.game #bird{
    position: absolute;
    bottom: 300px;
    animation-name: movingBird;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .8s;
}

.top_tunnel,.bottom_tunnel{
    width: 8rem;
    position: absolute;
    z-index: 2;
}

.first_top_tunnel,.first_bottom_tunel{
    animation-name: movingFirstTunnels;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.top_tunnel{
    transform: rotate(180deg);
}

.bottom_tunnel{
    bottom: 0;
    height: 20rem;
}

@keyframes movingBird {
    from{
        transform: rotate(60deg);
    }to{
        transform: rotate(-60deg);
    }
}

@keyframes cloudMoving{
    from{
        right: -100%;
    }
    to{
        right: 120%;
    }
}

@keyframes movingFirstTunnels{
    from{
        right: -1%;
    }

    to{
        right: 100%
    }
}